<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Budget App</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'login' %}">Вхід</a></li>
                <li><a href="{% url 'register' %}">Реєстрація</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>© 2024 My Budget App</p>
    </footer>
</body>
</html>
